<h1>Advanced Search</h1>

<%= form_with model: @search do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label 'Price (up to)' %>
    <%= f.text_field :price %>

    <!--%= f.label :type % -->
    <!-- %= f.select :type, options_for_select(@types), include_blank: true %><br -->

    <!-- %= f.label :region % -->
    <!-- %= f.select :region, options_for_select(@regions), include_blank: true %><br><br -->

    <%= f.submit "Search" %>
<% end %>

<p><%= link_to "Back", '/products' %></p>