<h1>Search Results</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @search.search_product.empty? %>
    <p>No Product were found.</p>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            <% @search.search_product.each do |product| %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>