<%= form_with(model: product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Product field -->
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <!-- Variant field -->
  <div class="field">
    <strong>Variant</strong>
    <%= f.fields_for :variants do |f| %>
      <%= render 'variant_fields', f: f %>
    <% end %> 
    <%= link_to_add_fields 'Add Product Variant', f, :variants %>
  </div>

  <!-- Image attr field -->
  <div class="field">
    <strong>Image</strong>
    <%= f.fields_for :image do |f| %>
      <%= render 'image_fields', f: f %>
    <% end %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>