<!-- <div class="new_data"> -->
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :price %>
	<%= f.number_field :price %>
	<%= f.check_box :_destroy %><strong>Delete</strong><br>
<!-- </div> -->