<p id="notice"><%= notice %></p>

<img src="<%= @product.image.url %>" loading="lazy" height="250" width=350>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <p id="product-price"><%= @product.price %></p>
</p>

<div>
  <strong>Variant</strong>
  <%= render @product.variants %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>